@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

.homepage__container {
  display: flex;
  justify-content: space-around;
}

.db__container {
  margin-top: 10px;
  text-align: center !important;
  height: 20vh;
}

.dbcontenet__head {
  color: maroon;
  font-family: 'Tangerine', serif;
  font-size: 50px;
}

.heading__container > p {
  color: blue;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}


.db__container > a {
  background-color: crimson;
  border: solid 1px green;
}

.footer__container > p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}